ansible
# molecule pulls: ansible-lint yamllint flake8 pytest testinfra
molecule
docker
ansible-test
# utils
ansible-inventory-grapher
pywinrm
passlib
# jmespath is required by json_query filter
jmespath
# netaddr is required by ipaddr filter
netaddr
