ansible>2.9
docker
mitogen
# tests
molecule>3
ansible-test
ansible-lint
yamllint
testinfra
pytest
flake8
# utils
ansible-inventory-grapher
git+https://github.com/ivandeex/ansigenome.git@master
# extensions
pywinrm
passlib
# jmespath is required by json_query filter
jmespath
# netaddr is required by ipaddr filter
netaddr
# boto3 is required by cloudfront_distribution
boto3
