ansible
# molecule pulls: ansible-lint yamllint flake8 pytest testinfra
molecule
docker
mitogen
ansible-test
# utils
ansible-inventory-grapher
git+https://github.com/ivandeex/ansigenome.git@master
# extensions
pywinrm
passlib
# jmespath is required by json_query filter
jmespath
# netaddr is required by ipaddr filter
netaddr
